{# used as a fallback for apex theme since the 'next step' button in checkout is not contained within a twig block #}

{% extends "page/checkout/order.html.twig" %}
{% set sModuleId = '@' ~ constant('\\OxidSolutionCatalysts\\Adyen\\Core\\Module::MODULE_ID') %}

{% block checkout_order_address %}
    {% if paymentReturnReason %}
        <div class="alert alert-danger" data-adyen-return-code="{{ paymentResultCode }}">
            {{ translate({ ident: 'OSC_ADYEN_RETURN_NOT_SUCCESSFUL' }) }} {{ translate({ ident: paymentReturnReason }) }}
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block shippingAndPayment %}
    {{ parent() }}

    {% set payment = oView.getPayment() %}
    <div id="apexFallBackDiv">
        {{ include(sModuleId ~ '/payment/adyen_assets.html.twig') }}
        {{ include(sModuleId ~ '/payment/adyen_order_submit.html.twig') }}
    </div>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            let test = document.querySelectorAll('button.btn.btn-highlight.btn-lg.w-100');
            test = test[test.length - 1];

            test.replaceWith(document.getElementById('apexFallBackDiv'));
        });
    </script>
{% endblock %}