{# used as a fallback for apex theme since the 'next step' button in checkout is not contained within a twig block #}

{% extends "page/checkout/order.html.twig" %}
{% set sModuleId = '@' ~ constant('\\OxidSolutionCatalysts\\Adyen\\Core\\Module::MODULE_ID') %}
{% set payment = oView.getPayment() %}

{% block checkout_order_address %}
    {% if paymentReturnReason %}
        <div class="alert alert-danger" data-adyen-return-code="{{ paymentResultCode }}">
            {{ translate({ ident: 'OSC_ADYEN_RETURN_NOT_SUCCESSFUL' }) }} {{ translate({ ident: paymentReturnReason }) }}
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block shippingAndPayment %}
    {{ parent() }}

    {% if oViewConf.hasTemplateCheckoutCreateId(payment) %}
        <div id="adyenApexSubmit">
            {% include sModuleId ~ '/payment/adyen_assets.html.twig' %}
            {% include sModuleId ~ '/payment/adyen_order_submit.html.twig' %}
        </div>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                let submitButton = document.querySelectorAll('button.btn.btn-highlight.btn-lg.w-100');
                submitButton = submitButton[submitButton.length - 1];

                submitButton.replaceWith(document.getElementById('adyenApexSubmit'));
            });
        </script>
    {% endif %}
{% endblock %}

{% block checkout_order_btn_confirm_bottom %}
    {{ parent() }}

    {% if oViewConf.hasTemplateCheckoutCreateId(payment) %}
        <div id="adyenApexPsp">
            {% include sModuleId ~ "/payment/adyen_payment_psp.html.twig" %}
        </div>

        <script type="text/javascript">
            document.getElementById('orderConfirmAgbBottom').appendChild(document.getElementById('adyenApexPsp'));
        </script>
    {% endif %}
{% endblock %}